h1{
  text-align: center;
  text-shadow: 1px 1px #CC0E0E;
  border: 3px dotted #00A000;
  color: #BB0E0E
}

#bodytext{
  position: absolute;
  left: 150px;
  color: white;
}
#navbar{
  border: 1px dashed rgb(255, 255, 255);
  max-width: 125px;
  position: absolute;
  text-align: justify;
  color: white
}
h2{
  color: #CC0E0E
}
body{
  background-color: black;
}
a{
  color: #BBBBFF
}
